<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.palda97.lpclient">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppInit"
        android:allowBackup="true"
        android:icon="@mipmap/etl_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/etl_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ExecutionDetailActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.EditServerActivity"
            android:label="@string/server_instance"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.EditPipelineActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.EditComponentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.varvet.barcodereadersample.barcode.BarcodeCaptureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>